<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">

    <!--- Divider -->
    <div id="sidebar-menu">
      <ul>
        <li>
          <a href="#" class="waves-effect active" routerLink="/dashboard">
            <i class="md"><img src="assets/icons/icon-home.png" title="{{ 'menu.dashboard' | translate }}"
              class="menu-icon" /></i>
            <span> {{ 'menu.dashboard' | translate }} </span>
          </a>
        </li>

        <li>
          <a href="#" routerLink="/users">
            <i class="md"><img src="assets/icons/icon-user.png" title="{{ 'menu.registrations.user' | translate }}"
              class="menu-icon" /> </i>
            <span>{{ 'menu.registrations.user' | translate }}</span>
          </a>
        </li>

      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- Left Sidebar End -->
